/* Core Classes */

.bg-dark {
    background-color: #000 !important;
}

/* New Classes */

.colfc-nav-logo {
    width: 300px;
}

.colfc-nav-mbmlogo {
    height: 30px;
}

.min-vh-headervid {
    min-height: 60vh !important;
}

.benefit-icon {
    width: 80px !important;
}
