/* Core Classes */

.bg-dark {
    background-color: #000 !important;
}

.custom-control-img .custom-control-label {
    width: 130px;
    opacity: .5;
    text-align: center;
}

/* New Classes */

.colfc-nav-logo {
    width: 300px;
}

.colfc-nav-mbmlogo {
    height: 30px;
}

.min-vh-headervid {
    min-height: 40vh !important;
}

.min-vh-headervid-sm {
    min-height: 10vh !important;
}

.benefit-icon {
    width: 80px !important;
}

.check-icon-lg {
    font-size: 30px;
    color: #35ae08;
}

.appstore-icon {
    max-width: 180px;
}
