/* Core Classes */

.bg-dark {
    background-color: #000 !important;
}

.custom-control-img .custom-control-label {
    width: 130px;
    opacity: .5;
    text-align: center;
}

/* New Classes */
.body-padding {
    padding-top: 40px;
}

.bg-silver {
    background-color: #262626 !important;
}

.benefit-bg-dark {
    background: #353535 !important;
    border: 0 !important;
}

.colfc-nav-logo {
    width: 300px;
}

.colfc-nav-mbmlogo {
    height: 30px;
}

.min-vh-headervid {
    min-height: 30vh !important;
}

.min-vh-headervid-sm {
    min-height: 10vh !important;
}

.benefit-icon {
    width: 80px !important;
}

.check-icon-lg {
    font-size: 30px;
    color: #35ae08;
}

.appstore-icon {
    max-width: 180px;
}

.btn-gold {
    color: #fff !important;
    background: #877851 !important;
    font-size: 105% !important;
}

.selector-ul {
    border-bottom: 1px solid #282828 !important;
}

.package-select-title-lg {
    font-size: 130% !important;
}

.package-select-link {
    opacity: 0.5;
}

.active {
    opacity: 1 !important;
}

.nav-link.active::before {
    border-top: 5px solid #877851;
}

.badge-gold {
    color: #fff;
    background-color: #877851;
}

a.badge-gold:focus,
a.badge-gold:hover {
    color: #fff;
    background-color: #877851;
}

a.badge-gold.focus,
a.badge-gold:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(31, 31, 31, .5)
}

.text-gold {
    color: #ad9965 !important
}

a.text-gold:focus,
a.text-gold:hover {
    color: #877851 !important
}

.card > .card-body > h6 {}
