/*  Custom Styles */

body {
    font-family: "Inter", sans-serif;
}

.display-1,
.display-2,
.display-3,
.display-4 {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
}

.questrial {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
}

.bg-black {
    background-color: #000;
}

.bg-spring {
    background-color: #24EBAF !important;
}

.btn-black > .icon path {
    fill: #000;
}

.btn-spring {
    background: #24EBAF;
    color: #000;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 0rem;
}

.btn-spring > .icon path {
    fill: #000;
}

.btn-spring:hover {
    color: #000;
    background: #1CCE99;
}

.mobile-screenshot > img:first-child {
    padding: 6%;
}

.decoration.hero-app {
    left: -370px;
    top: -220px;
}

.bg-talk {
    background-color: #070707;
}
